<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="sage" connectionString="Data Source=cpsql18;Initial Catalog=acuity_app;User ID=sa;Password=C3l5ius"/>-->
    <add name="sage" connectionString="Data Source=sql18dev;Initial Catalog=Acuity_app;User ID=sa;Password=C3l5ius;"/>
  </connectionStrings>
</configuration>